.heading{
    background-color:#40a2e3;
    padding: 15px;
}

.content{
    margin: 50px;
}

h3, p{
    padding: 5px;
}
.card{
    border:1px solid gold;
    background-color:#FFD966;
    border-radius: 30px;
}

