.footer{
    background-color: #F5F5F5;
    display:flex;
    justify-content: space-around;
    border-top: 2px solid rgb(198, 197, 197);
}

ul{
    list-style-type: none;
}

li{
    padding: 0.2rem;
   
}

.icon{
    padding: 0.5rem;
    font-size: 30px;;
}